<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/homestyle.css">
    <title>Home</title>
</head>
<body>
    <section>
        <div>
            <h3>WELCOME BUDDY!!</h3>
            <h4><center>Login successfull</center></h4>
        </div>
    </section>
</body>
</html>